.header-img {
  top: -8rem;
}

.footer-logo {
  top: -3rem;
}

.section-bottom-description {
  top: -10rem;
  right: 20rem;
}

.section-bottom-description {
  transform: translateY(60px);
}

.social-media-icon {
  height: 50px;
}

.col-location-text {
  max-width: 350px;
}
